<h1><%= @board.title %></h1>
<% if @board.posts.empty? %>
<p>글이 없습니다.</p>
<% else %>
<p>글이 있습니다.</p>
<% end %>
<br/>
<% if admin_signed_in? %>
<%= link_to "보드 정보 수정", edit_board_path(@board) %><br/>
<% end %>

<%= link_to "보드 목록", boards_path %>